<div data-alert class="alert-box alert"><h2>Alert</h2></div>
<p class="free-text"><strong>{{ message }}</strong></p>
<p class="free-text">Initially published: {{ initialDateFormatted }}</p>

{{#if _embedded.followups}}
<ul>
{{#_embedded.followups}}
        <li><p class="free-text">{{ message }} ({{ timestamp }})</p></li>
{{/_embedded.followups}}
</ul>
{{/if}}
