@import "compass/css3";
/* Each individual part that can be added in */
@import "settings";
@import "foundation/components/global";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms";

// Modular Scale gives us font-sizes on a harmonic scale
@import 'modular-scale';

// hidpi media queries mixins for selecting higher res images
@import "hidpi";

@import "globals/variables";
@import "globals/oxford-palette";
@import "globals/mixins";

// Foundation grid mixins
//  - we don't make use of all the foundation stuff
//    so this was broke into its own module
@import "components/grid";

// Our major components used throughout moxie
@import "components/labels";
@import "components/buttons";
@import "components/navbar";
@import "components/sidebar";
@import "components/rti";
@import "components/help";
@import "components/tooltips";

// Moxie Apps
@import "components/today";
@import "components/favourites";
@import "components/library";
@import "components/security";
@import "components/feedback";

// Colours for each application
$todayColor: $pantone7412;

html, body { height: 100%; }
body {
    overflow-x: hidden;
    background: $body-background;
    width: 100%;
}

h2 {
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 3px;
    &.free-heading {
        margin-left: 5px;
    }
}

h3 {
    font-size: ms(2);
    font-weight: 200;
    margin-top: 8px;
}

h4 {
    font-weight: 300;
    margin-bottom: 0;
}

img.preloader {
    display: block;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

// Generic card
div.card {
    max-width: 300px;
    margin: 0 auto;
    padding: 5px;
}

// A box to contain free text items inside a root level div
.free-text {
    padding: 5px;
}

p.free-text {
    line-height: 1.3;
    font-weight: 300;
}

p.metadata, p.type {
    font-size: ms(0);
    margin-bottom: 0;
}

// Used to describe a place type in lists and below page titles
p.type {
    margin-top: 4px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: ms(0);
}

// Definition lists
// definitions should be slightly right of the term
dl {
    margin-top: 10px;
    > dt {
        font-weight: 400;
        font-variant: small-caps;
    }
    > dd {
        margin: 7px 5px;

        a {
            padding: 8px 5px;

        }
    }
}

div.embedded_map {
    height: $mapHeight;
    width: auto;
    .leaflet-control-zoom {
        display: none;
    }
}

/* Content is a container for two child divs
    .content-browse which typically contains a scrolling list container
    .content-map which holds map (#map)
*/
#content {
    top: $navbarHeight;
    bottom: 0;
    background: #fff;
    border-left: $grayBorder;
    border-right: $grayBorder;

    .content-browse {
        padding: 0px 0px;
        overflow: auto;
        background: $body-background;
        -webkit-overflow-scrolling: touch;
        right: auto;
        height: auto;
        @media #{$small} {
            @include grid-column(4);
            position: relative;
            padding: 0px 0px;
            // Makes the map scroll with the list
            height: 100%;
            overflow-y: scroll;
        }
    }

    .map-browse-layout {
        height: 100%;
    }

    .content-map {
        height: $mapHeight;
        @media #{$small} {
            @include grid-column(8, $float: right);
            height: 100%;
            padding: 0px 0px;
            border-top: $grayBorder;
            border-bottom: $grayBorder;
            border-left: $grayBorder;
        }
    }
    #map {
        height: $mapHeight;
        &.full-screen {
            height: 100%;
        }
        .leaflet-control-zoom {
            display: none;
        }
        width: 100% !important;
        @media #{$small} {
            .leaflet-control-zoom {
                display: block;
            }
            height: 100%;
        }
    }
    .search-input {
        padding-top: 10px;
        margin-left: 5px;
        margin-right: 5px;

        span.deleteicon {
            display: block;
            line-height: 9px;
            position: absolute;
            right: 20px;
            top: 20px;
            padding: 4px 4px 2px 4px;
            @include border-radius(30px);
            font-size: 9px;
            color: #fff;
            background: #ccc;
            cursor: pointer;
        }
    }
}

.list-map, .detail-map, .generic {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    ul.facet-list {
        padding-left: 5px;
    }
    > h3 {
        padding-left: 5px;
    }
}

ul.results-list {
    border-top: 2px solid $border-color;
    list-style: none;
    .highlighted {
        background: $border-color;
    }
    li {
        min-height: 46px;
        border-bottom: 2px solid $border-color;
        @include box-shadow(inset 0 0 2px #fff);
        color: rgba(40, 40, 40, 0.8);
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
        @include background(
        linear-gradient(top, $light, $dark),
        url($cream-dust)
        );
        @include hidpi {
            @include background(
            linear-gradient(top, $light, $dark),
            url($cream-dust-hidpi)
            );
        }

        .highlighted {
            background-color: red;
        }
        p {
            margin-bottom: 0px;
        }
        > label, > a, > h3, > p {
            padding: 10px 8px;
        }
        > label, > a {
            margin: 0;
            height: 100%;
            width: 100%;
            display: block;
            color: rgba(40, 40, 40, 0.8);
        }

        // Used on list items to show the count in the proceeding category/group
        .subtext {
            display: block;
            font-size: ms(0)/1.3;
            font-weight: bold;
            margin: 0;
        }

        // Used to convey complex list items such as library search results
        $meta-info-font-size: ms(0)/1.2;
        .meta-info {
            font-size: $meta-info-font-size;
            padding: 0;
            margin: 3px 0 0 5px;
            line-height: $meta-info-font-size + 3px;
            font-weight: 200;
        }

        .meta-info-title {
            font-size: inherit;
            font-weight: 800;

        }

        // Extra button to lead to detail directly or after the main button has been pressed
        a.detail_disclosure {
            content: "▻";
            @include background(linear-gradient(lighten(#1B4474, 20%), #002856));
            color: #fff;
            border: 3px solid #fff;
            box-shadow: 0 0 5px rgba(0,0,0,0.4);
            height: 30px;
            width: 30px;
            padding-left: 5px;
            @include border-radius(15px);
            line-height: 27px;
            display: inline-block;
            font-family: "SSStandard";
            vertical-align: middle;
        }

        @include gentle-inset-shadow-on-state();

        & * {
            font-family: Helvetica, Verdana, sans-serif;
        }

        h3 {
            font-size: ms(1);
            font-weight: normal;
            padding: 0;
            margin: 0;
            color: #444;
        }

    }
}
