// You custom settings file to override Foundation defaults
@import "settings";

@import "compass/css3";
@import "foundation/settings";
@import "foundation/functions/all";
@import "foundation/common/globals";
@import "foundation/mixins/clearfix";
@import "modular-scale";
// Control which mixins you have access too
@import "foundation/mixins/css-triangle";
@import "foundation/mixins/font-size";
// Must include next two for semantic grid to work
@import "foundation/mixins/respond-to";
@import "foundation/mixins/semantic-grid";
// Must include the grid for any responsiveness
@import "foundation/components/grid";
// Control which common styles get compiled
@import "foundation/common/typography";
@import "foundation/common/forms";
// Used for displaying higher quality graphics to hi res displays
@import 'hidpi';

@import "globals/variables";
@import "globals/oxford-palette";
@import "globals/mixins";
@import "components/labels";
@import "components/buttons";
@import "components/navbar";
// App level
@import "library";

// Colours for each application
$todayColor: $pantone7412;

// RTI enclosing div
// used to provide a base style
div.rti {
        background: url($subtle-dots);
        position: relative;
        //@include hidpi {background: url($subtle-dots-hidpi);}
        padding: 10px 0;
        border-top: 1px solid rgba(255,255,255,0.9);
        border-bottom: 1px solid rgba(255,255,255,0.9);
        @include box-shadow(inset 0 0 8px #ddd);
        p {
            padding: 0 4px;
        }
        h3 {
            font-size: 1.2em;
            margin-top: 5px;
        }
        #gauge {
            width: 380px;
            height: 155px;
        }
        #rti-load {
            position: absolute;
            right: 10px;
            top: 10px;
        }
}

// Train RTI styling
table#train-rti {
    width: 100%;
    .delayed {
        color: $pantone200;
    }
    td {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 5px;
      padding-left: 10px;
      border: 1px solid #ddd;
      background-color: #fff;
    }

    td:first-child {
      padding-right: 0;
    }
}

// Bus RTI styling
table#bus-rti {
    border-collapse: collapse;
    margin: 0 auto;
    tbody {
        vertical-align: middle;
    }
    tr > td {
        padding: 6px;
    }

    .service-id {
        display: block;
        line-height: 44px;
        font-size: ms(1);
        width: 50px;
        height: 50px;
        text-align: center;
        color: #fff;

        //text-shadow: 0 0 1px rgba(255,255,255, 0.5);
        font-weight: 800;
        @include border-radius(50%);
        border: 3px solid transparentize($pantoneWarmGray6, 0.3);
        background: transparentize($pantoneWarmGray6, 0.3);
        //@include background(radial-gradient($darkOxfordBlue, $lightOxfordBlue));
    }

    .service-destination {
        font-weight: 200;
        font-size: ms(1);
        padding-top: 12px;
        padding-bottom: 0;
    }

    .service-next-bus {
        padding-top: 12px;
        padding-bottom: 0;
    }

    .service-next-buses-following {
        font-size: 16px;
        line-height: 14px;
        padding-top: 0;
    }
}

html, body { height: 100%; }
body {
    overflow-x: hidden;
    background: $body-background;
    width: 100%;
}

h2 {
    font-size: ms(3);
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 3px;
    &.free-heading {
        margin-left: 5px;
    }
}

h3 {
    font-size: ms(3);
    font-weight: 200;
    margin-top: 8px;
}

h4 {
    font-weight: 300;
    margin-bottom: 0;
}

img.preloader {
    display: block;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

// A box to contain free text items inside a root level div
.free-text {
    padding: 5px;
}

p.free-text {
    line-height: 1.3;
    font-weight: 300;
}

p.metadata, p.type {
    font-size: ms(0);
    margin-bottom: 0;
}

// Used to describe a place type in lists and below page titles
p.type {
    margin-top: 4px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: ms(0);
}

// Definition lists
// definitions should be slightly right of the term
dl {
    margin-top: 10px;
    > dt {
        font-weight: 400;
        font-variant: small-caps;
    }
    > dd {
        margin: 7px 5px;

        a {
            padding: 8px 5px;

        }
    }
}



// Today
// Items specific to the today page
div.today-card-container {
    padding-left: 5px;
    padding-right: 5px;
    @include columns(325px);
    @include respondTo(smallScreen) {
        // Disable columns in small screen mode
        @include columns(none);
    }
}

div.today {
    text-align: left;
    display: inline-block;
    position: relative;
    vertical-align: top;
    // This width and min-width combination work with css columns
    // Meaning Today cards expand to fill 96% of each column, but as
    // soon as an additional card fits, the columns expand.
    //
    //
    // it's properly mental.
    width: 300px;
    min-width: 96%;
    margin-top: 10px;
    @include box-shadow(0 0 2px #ccc);
    @include border-radius(3px);
    border: 1px solid #ccc;
    h3 {
        font-size: 15px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 0px;
        padding-left: 20px;
        .disclaimer {
            font-size: 14px;
        }
    }
    .last-updated {
        position: absolute;
        right: 0px;
        bottom: 0px;
        font-size: 11px;
    }
    div.five-day-forecast div {
        display: inline-block;
        padding-left: 5px;
        margin-top: 7px;
        font-size: 1.4em;
        width: 27px;
        span.day-of-week {
            font-size: 0.8em;
            font-variant: small-caps;
        }
    }
    div.five-day-forecast div:last-child {
        margin: 0;
    }

    div.river-status:not(:last-child) {
        border-right: 1px solid #ccc;
    }
    div.river-status {
        float: left;
        padding: 20px;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        // TODO: Capture all the options this value can be
        // Really the API docs should cover it
        .green { color: green; }
        .ss-flag {
            text-align: right;
        }
    }
    div.day {
        float: left;
        padding: 12px;
        font-size: 24px;
        font-weight: 300;
        font-variant: small-caps;
        @include background(linear-gradient(top, #fafafa, #fbfbfb));
        border-right: 1px solid #ccc;
    }
    div.date {
        float: left;
        padding-left: 10px;
        // Date contains term-date and standard-date one atop the other.
        > div {
            font-size: 15px;
            font-weight: 300;
            text-align: center;
        }
        div.term-date {
            padding-top: 5px;

        }

        div.standard-date {
            border-bottom: 1px solid $border-color;
            padding-bottom: 5px;
            padding-top: 3px;
        }
    }
    div.park-and-rides {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        div.p-r {
            display: inline-block;
        }
    }
}
div.weather {
    height: 51px;
    overflow: hidden;
}

div.embedded_map {
    height: $mapHeight;
    width: auto;
    .leaflet-control-zoom {
        display: none;
    }
}

// Sidebar
// This relates to how the sidebar operates
#main, #sidebar {
    position: relative;
    @if $animations-enabled == true {
        @include transition($sidebar-animation-time all ease-out);
    }
}

#main {
    width: 100%;
    height: 100%;
    margin-left: 0;
    float: right;
    z-index: 1;
    body.is-sidebar-active & {
        position: fixed;
        left: $sidebar-width;
    }
}

#sidebar {
    display: none;
    top: 0px;
    width: $sidebar-width;
    margin-left: -100%;
    float: left;
    z-index: 3;
    body.is-sidebar-active & {
        display: inline;
        margin-left: 0;
    }
}

.overlay {
    display: none;
    @if $animations-enabled == true {
        opacity: 0;
        width: 100%;
        @include transition($sidebar-animation-time all ease-out);
    }
    body.is-sidebar-active & {
        display: inline;
        position: fixed;
        top: 0px;
        width: $sidebar-margin;
        left: $sidebar-width;
        height: 100%;
        opacity: 0.5;
        background-color: $black;
        z-index: 2;
        @if $animations-enabled == true {
            width: $sidebar-margin;
            margin-left: $sidebar-width;
            opacity: 0.5;
        }
    }
}

ul.sidebar-items {
    list-style: none;
    > a {
        li {
            padding: 10px 5px;
            border-bottom: 2px solid $border-color;
            border-left: 15px solid $border-color;
            color: #666;
            font-weight: 400;
            font-size: ms(2);
            background: url($cream_dust);
            @include hidpi {background: url($cream-dust-hidpi);}
            @include gentle-inset-shadow-on-state();
        }

    }
}

#content {
    /* Content is a container for two child divs:
    - .content-browse which typically contains a scrolling list container
    - .content-map which holds map (#map)
     */

top: $navbarHeight;
bottom: 0;
background: $white;
border-left: $grayBorder;
border-right: $grayBorder;

.content-browse {
    height: 100%;
    padding: 0px 0px;
    overflow: auto;
    background: $body-background;
    -webkit-overflow-scrolling: touch;
    @include column(4);
    @include pull(8);
    @include respondTo(smallScreen) {
        right: auto;
        height: auto;
    }
    @include respondTo(smallScreen) {
        // Makes the map scroll with the list
        overflow: visible;
    }
}

.map-browse-layout {
    height: 100%;
}

.content-map {
    height: 100%;
    padding: 0px 0px;
    @include column(8);
    @include push(4);
    border-top: $grayBorder;
    border-bottom: $grayBorder;
    border-left: $grayBorder;
    @include respondTo(smallScreen) {
        height: auto;
        left: auto;
    }
}
#map {
    height: 100%;
    @include respondTo(smallScreen) {
        height: $mapHeight;
        width: 100% !important;
        .leaflet-control-zoom {
            display: none;
        }
    }
}
.search-input {
    padding-top: 10px;
    margin-left: 5px;
    margin-right: 5px;

    span.deleteicon {
        display: block;
        line-height: 9px;
        position: absolute;
        right: 20px;
        top: 20px;
        padding: 4px 4px 2px 4px;
        @include border-radius(30px);
        font-size: 9px;
        color: $white;
        background: #ccc;
        cursor: pointer;
    }
}
}

.list-map, .detail-map, .generic {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    ul.facet-list {
        padding-left: 5px;
    }
    > h3 {
        padding-left: 5px;
    }
}

ul.results-list {
    border-top: 2px solid $border-color;
    list-style: none;
    .highlighted {
        background: $border-color;
    }
    li {
        min-height: 46px;
        border-bottom: 2px solid $border-color;
        @include box-shadow(inset 0 0 2px #fff);
        color: rgba(40, 40, 40, 0.8);
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
        @include background(
        linear-gradient(top, $light, $dark),
        url($cream-dust)
        );
        @include hidpi {
            @include background(
            linear-gradient(top, $light, $dark),
            url($cream-dust-hidpi)
            );
        }

        .highlighted {
            background-color: red;
        }
        p {
            margin-bottom: 0px;
        }
        > label, > a, > h3, > p {
            padding: 10px 8px;
        }
        > label, > a {
            margin: 0;
            height: 100%;
            width: 100%;
            display: block;
            color: rgba(40, 40, 40, 0.8);
        }

        // Used on list items to show the count in the proceeding category/group
        .subtext {
            display: block;
            font-size: ms(0)/1.3;
            font-weight: bold;
            margin: 0;
        }

        // Used to convey complex list items such as library search results
        $meta-info-font-size: ms(0)/1.2;
        .meta-info {
            font-size: $meta-info-font-size;
            padding: 0;
            margin: 3px 0 0 5px;
            line-height: $meta-info-font-size + 3px;
            font-weight: 200;
        }

        .meta-info-title {
            font-size: inherit;
            font-weight: 800;

        }

        // Extra button to lead to detail directly or after the main button has been pressed
        a.detail_disclosure {
            content: "▻";
            @include background(linear-gradient(lighten(#1B4474, 20%), #002856));
            color: #fff;
            border: 3px solid #fff;
            box-shadow: 0 0 5px rgba(0,0,0,0.4);
            height: 30px;
            width: 30px;
            padding-left: 5px;
            @include border-radius(15px);
            line-height: 27px;
            display: inline-block;
            font-family: "SSStandard";
            vertical-align: middle;
        }

        @include gentle-inset-shadow-on-state();

        & * {
            font-family: Helvetica, Verdana, sans-serif;
            font-size: ms(2)/1.5;
        }

        h3 {
            font-size: ms(1);
            font-weight: normal;
            padding: 0;
            margin: 0;
            color: #444;
        }

    }
}

// Manage Favourites view
ul.results-list {
    li div.rename-fav {
        margin-left: 35px;
    }
    li a.remove-fav {
        position: absolute;
        width: 20px;
        height: 20px;
        color: $pantone200;
        font-size: 20px;
        padding: 6px;
    }
}

// Today view settings
.today-settings {
    p { margin: 5px 0px; }
}

