@import "compass/css3";
/* Each individual part that can be added in */
@import "settings";
@import "foundation/components/global";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms";

@import "globals/variables";
@import "globals/oxford-palette";
@import "globals/mixins";

// Foundation grid mixins
//  - we don't make use of all the foundation stuff
//    so this was broke into its own module
@import "components/grid";

// Our major components used throughout moxie
@import "components/results_list";
@import "components/maplayout";
@import "components/labels";
@import "components/buttons";
@import "components/navbar";
@import "components/sidebar";
@import "components/rti";
@import "components/help";
@import "components/tooltips";
@import "components/cover";

// Moxie Apps
@import "components/today";
@import "components/favourites";
@import "components/library";
@import "components/security";
@import "components/feedback";
@import "components/contacts";
@import "components/events";
@import "components/notifications";
@import "components/news";
@import "components/student-advice-service";
@import "components/learning-resources";

// Colours for each application
$todayColor: $pantone7412;

// When either sidebar (menu) or main map is visible we are a fullscreen app
html.is-sidebar-active, html.is-sidebar-active > body { height: 100%; }
html.map, html.map > body { height: 100%; }

body {
    overflow-x: hidden;
    background: $body-background;
    top: 0;
    bottom: 0;
    width: 100%;
}

h2 {
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 3px;
    margin-left: 2px;
    &.free-heading {
        margin-left: 5px;
    }
}

h3 {
    font-size: 2em;
    font-weight: 200;
    margin-top: 8px;
    margin-left: 2px;
    margin-bottom: 5px;
}

h4 {
    font-weight: 300;
    margin-bottom: 0;
}

img.preloader {
    display: block;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
}


.card-container {
    padding: 0 5px;
    margin-bottom: 20px;
    text-align: center;
    @include columns(325px);
}

// Generic card
.card {
    text-align: left;
    display: inline-block;
    min-width: 310px;
    width: 100%;
    margin: 5px auto;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    @include border-radius(2px);

    .padded-contents {
        padding: 5px;
    }
    h3 {
        width: 100%;
        display: block;
        min-height: 40px;
        line-height: 40px;
        font-size: 20px;
        background: #dfdfdf;
        color: #444;
        padding: 0 10px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        @include border-radius(2px 2px 0 0);
    }
    .strapline {
        font-size: 12px;
        color: #444;
        line-height: 13px;
        padding-bottom: 7px;
        display: block;
    }
    ul {
        padding-left: 20px;
    }
    ul.results-list {
        border-top: 0;
        margin: 0;
        padding: 0;
        li {
            position: relative;
            &:last-child {
                @include border-radius(0 0 2px 2px);
                border-bottom: 0;
            }
            a>.fa:before {
                font-family: FontAwesome;
                position: absolute;
                right: 7px;
                line-height: 42px;
                margin-top: -21px;
                top: 50%;
                font-size: 16px;
            }
        }
    }

}

// A box to contain free text items inside a root level div
.free-text {
    padding: 5px;
}

p.free-text {
    line-height: 1.3;
    font-weight: 300;
}

p.metadata, p.type {
    font-size: 1em;
    margin-bottom: 0;
}

// Used to describe a place type in lists and below page titles
p.type {
    margin-top: 4px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 0.8em;
}

// Definition lists
// definitions should be slightly right of the term
dl {
    margin-top: 10px;
    > dt {
        font-weight: 400;
        font-variant: small-caps;
    }
    > dd {
        margin: 7px 5px;

        a {
            padding: 8px 5px;

        }
    }
}
