// You custom settings file to override Foundation defaults
@import "settings";

@import "compass/css3";
@import "foundation/settings";
@import "foundation/functions/all";
@import "foundation/common/globals";
@import "foundation/mixins/clearfix";
@import "modular-scale";
// Control which mixins you have access too
@import "foundation/mixins/css-triangle";
@import "foundation/mixins/font-size";
// Must include next two for semantic grid to work
@import "foundation/mixins/respond-to";
@import "foundation/mixins/semantic-grid";
// Must include the grid for any responsiveness
@import "foundation/components/grid";
// Control which common styles get compiled
@import "foundation/common/typography";
@import "foundation/common/forms";

$navbarDark: #1B4474;
$navbarLight: #002856;
$navbarHeight: 40px;
$navbarItemWidth: 50px;

$navbarBorderDark: 1px solid rgba(darken($navbarDark, 10%),0.7);;
$navbarBorderLight: 1px solid rgba(lighten($navbarDark, 5%),0.7);

$grayBorder: 1px solid #ccc;

$dark: rgba(200,200,200, 0.2);
$light: rgba(255,255,255, 0.1);
$border-color: rgba(200,200,200, 0.5);

$mapHeight: 140px;

$body-background: #fafafa;
$sidebar-animation-time: 0.33s;

html, body { height: 100%; }
body { background: $body-background; }



/* Cleaned up Dave */
#main, #sidebar {
    position: relative;
    @include transition($sidebar-animation-time all ease-out);
}

#main { 
    width: 100%;
    height: 100%;
    margin-left: 0;
    float: right;
    z-index: 1;
}

#sidebar { 
    width: 75%;
    margin-left: -100%;
    float: left; 
    z-index: 3;
}

.container, .overlay { 
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
}

.overlay {
    position: absolute;
    opacity: 0;
    background-color: $black; 
    z-index: 0; 
}

// Used when the sidebar is made active
.active {
    #sidebar { margin-left: 0; }
    #main { margin-right: -75%; }
    .overlay { 
        z-index: 2;
        width: 25%; 
        margin-left: 75%; 
        opacity: 0.5; 
        @include transition($sidebar-animation-time all ease-out);
    }
}
/* End of clean Dave */

h2 { 
    font-size: ms(2);
    font-weight: 300;
    margin-left: ms(-1);
}

h3 {
    font-weight: 200;
    padding-left: 10px;
}

#navbar, #content {
    height: 100%;
    left: 0; right: 0;
    @include respondTo(smallScreen) {
        width: auto; min-width: 0; margin-left: 0; margin-right: 0;
        border: 0;
    }
}

#navbar {
    margin: 0 auto;
    height: $navbarHeight;
    line-height: $navbarHeight;
    color: $white;
    list-style: none;
    background: $navbarLight; // Basic background for old devices
    @include background(
        // Highlighting radial gradient. 
        // Light top, dark bottom
        radial-gradient(center, ellipse cover, rgba(0,0,0,0), rgba(0,0,0,0.1)),
        linear-gradient(top, $navbarDark, $navbarLight)
    );

    li {
        // Most of the elements are on the right, so default to floating them right
        float: right;
        // Set width of each button and center align it 
        width: $navbarItemWidth;
        text-align: center;

        // 3d effect by having a dark and light border on each item
        border-left: $navbarBorderDark;
        a { 
            border-left: $navbarBorderLight;
            display: block;
            color: $white;
            // Feedback for hover/clicked
            &:active, &:hover {@include box-shadow(0 0 $navbarItemWidth/2 $black inset);}
            // If the button has been pressed, distinguish between press and hover
            &:active {background: rgba(0,0,0,0.4);}
        }

        &#home { 
            float: left;
            border: 0;
            border-right: $navbarBorderLight;
            a { border-right: $navbarBorderDark; }
        }
        &#title {
            float: left;
            width: auto;
            border: 0;
            h1 {
                color: $white;
                // Set line-height to navbarHeight to give vertical alignment
                line-height: $navbarHeight;
                font-size: ms(0);
                // Left spacing equivalent to font-size. 
                margin: auto 0 auto ms(0);
                // Pull the text up slightly to align with buttons
                margin-top: -2px;
            }
        }
    }
}

#content > div, #content > div > div {
    height: 100%;
}

#content {
    /* Content is a container for two child divs:
     - #list which typically contains a scrolling list container
     - .content-detail which holds a detail view or a map (#map)
    */

    top: $navbarHeight;
    bottom: 0;
    background: $white;
    border-left: $grayBorder;
    border-right: $grayBorder;

    #list {
        padding: 0px 0px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        @include column(4);
        @include pull(8);
        @include respondTo(smallScreen) {
            right: auto;
            padding-bottom: $mapHeight;
        }
        input {
            margin: 6px 0;
            padding-right: 25px;
        }
        span.deleteicon {
            display: block;
            line-height: 9px;
            position: absolute;
            right: 20px;
            top: 15px;
            padding: 4px 4px 2px 4px;
            border-radius: 30px;
            font-size: 9px;
            color: $white;
            background: #ccc;
            cursor: pointer;
        }
    }

    .content-detail {
        @include column(8);
        @include push(4);
        border-top: $grayBorder;
        border-bottom: $grayBorder;
        border-left: $grayBorder;
        @include respondTo(smallScreen) {
            left: auto;
        }
    }
    #map {
        @include respondTo(smallScreen) {
            height: $mapHeight;
            width: 100% !important;
            .leaflet-control-zoom {
                display: none;
            }
        }
    }
}

.sidebar-items {
    list-style: none;
    li {
        padding: 10px 5px;
        border-bottom: 2px solid $border-color;
        color: #666;
        font-weight: 400;
        font-size: ms(2);
    }
}
.results-list {
    list-style: none;
    a:first-child > li {
        border-top: 2px solid $border-color;
    }

    li {
        min-height: 44px;
        border-bottom: 2px solid $border-color;
        padding: 10px 5px;
        @include box-shadow(inset 0 0 2px #fff);
        color: rgba(40, 40, 40, 0.7);
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
        @include background(
            linear-gradient(top, $light, $dark),
            url("/images/backgrounds/cream_dust.png")
        );
        & * {
            font-family: Helvetica, Verdana, sans-serif;
            font-size: ms(2)/1.5;
        }
        
        p.metadata {
            font-size: ms(0);
            margin-bottom: 4px;
        }

        h3 {
            font-size: ms(1);
            font-weight: normal;
            padding: 0;
            margin: 0;
            color: #666;
        }
    }
}
