<h2 class="free-heading">
    Today Settings
</h2>
<form>
    <ul class="results-list">
        {{#settings}}
        <li>
            <label for="{{ name }}">
                <input id="{{ name }}" name="{{ name }}" type="checkbox" value="true" {{#if enabled}} checked {{/if}}>
                {{ label }}
            </label>
        </li>
        {{/settings}}
    </ul>
</form>
