<div class="card-container">
    <div class="help-container">
    </div>
    {{#unless connectionAvailable}}
    <div class="today help">
        <p>No Internet connection available</p>
        <p>Please check network settings.</p>
    </div>
    {{/unless}}
</div>
