<div class="today-card-container">
    {{#unless seenHelp}}
    <div class="today help">
        <p>Welcome to the Today view</p>
        <p>
            If you&apos;d like to customise this view click the settings button <i class="ss-standard ss-settings"></i> in the top right corner and hide / show at your will.
        </p>
    </div>
    {{/unless}}
    {{#unless connectionAvailable}}
    <div class="today help">
        <p>No Internet connection available</p>
        <p>Please check network settings.</p>
    </div>
    {{/unless}}
</div>
