{{#alerts}}
<div data-alert class="notification-box">
    <a href="#/notifications/{{ ident }}">
        <p class="notification-message">{{ message }}</p>
        <p class="more-info">More information</p>
    </a>
</div>
{{/alerts}}
