<h3>Rowing Conditions <span class="disclaimer">(<a target="_blank" href="http://www.ourcs.org.uk/disclaimer">disclaimer</a>)</span></h3>
{{#rivers}}
<div class="river-status">{{ name }}: <span class="ss-flag {{ status }}"></span></div>
{{/rivers}}
