
<h3>Rowing Conditions <span class="disclaimer">(<a target="_blank" href="http://www.ourcs.org.uk/disclaimer">disclaimer</a>)</span></h3>
<ul class="rivers">
{{#rivers}}
<li class="river-status">{{ name }}: <span class="ss-standard ss-flag {{ status }}"></span></li>
{{/rivers}}
</ul>
<span class="ss-standard ss-info has-tip" data-tooltip title="Tooltips are awesome, you should totally use them!">Foo</span>
<div class="last-updated">updated: {{ lastUpdated }}</div>
