
<ul class="rivers">
{{#rivers}}
	<li class="river-status has-tip" data-tooltip title="{{ status_description}}"><span class="ss-standard ss-flag {{ status }}"></span> {{ name }}
	</li>
{{/rivers}}
</ul>
<span class="ss-standard ss-info has-tip rowing-conditions-info" data-tooltip title="Last Updated: {{ lastUpdated }}.
<br/> <p>It is important to note that the flag status applies only to the stream speed and as such must be taken as only a part of the cox, crew and coach’s risk assessment before each outing. The flag does not mean it is necessarily safe for those unrestricted but rather it is deemed necessarily unsafe for those restricted.</p>"></span>

