<h3>Rowing Conditions 
<span data-tooltip class="ss-standard ss-info has-tip" title="Tooltips are awesome, you should totally use them!"></span></h3>
<div class="rivers">
{{#rivers}}
<div class="river-status">{{ name }}: <span class="ss-standard ss-flag {{ status }}"></span></div>
{{/rivers}}
</div>
<div class="last-updated">updated: {{ lastUpdated }}</div>
