<div class="day">
    <span class="{{ observation.ss_class}}"></span>
    <span class="ss-forecast">{{ observation.temperature}}&deg;C</span>
</div>
<ul class="five-day-forecast">
    {{#forecasts}}
    <li class="{{ ss_class}}"></li>
    {{/forecasts}}
</ul>
