# SASS cache created by COMPASS
.sass-cache/

.DS_Store

# CSS
css/app.css
css/components/*
css/globals/*
css/foundation/*

# Minified JS
app/main-built.js

# IDEA (PyCharm)
.idea/

#Documentation
docs/build/

#PhoneGap build
phonegap_build.zip
phonegap_build/

# Ruby bundle (recommended in README.md)
.bundle

app/built.js

node_modules/*
www/*
platforms/*
plugins/*

*.gz
