    <div class="today help">
        <p>Welcome to Mobile Oxford</p>
        <p>Find places around town, search the libraries and get live transport information.</p>
        <p>Press <i class="fa fa-bars"></i> to get started.</p>
    </div>
