{% extends "base.html" %}
{% block title %}Places - Search{% endblock %}
{% block content %}
        <div id="map"></div>
        <div id="list-bar">
            <input type="text" placeholder="Places search" name="q" value="{{ query }}">
            <span class="deleteicon ss-icon">delete</span>
            <h5>Results near <span >here</span></h5>
            <ul class="results-list">
            </ul>
        </div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/time_domain.js') }}"></script>
{% if config['DEBUG'] %}
<!-- Places non-minified JS -->
{% import 'handlebars.html' as handlebars with context %}
{{ handlebars.handlebar('results', template_name='places/results.handlebars') }}
<script src="{{ url_for('places.static', filename='js/moxie.places.js') }}"></script> 
{% else %}
<!-- Places minified JS -->
<script src="{{ url_for('places.static', filename='js/moxie.places.min.js') }}"></script> 
<script src="{{ url_for('places.static', filename='js/moxie.places.templates.min.js') }}"></script> 
{% endif %}
{% endblock %}
