<h3>My bookings</h3>

<ul class="results-list">
{{#_embedded}}
	<li><a href='#/courses/detail/{{ id }}'>{{ title }}</a>
    <ul>{{#_embedded}} <li> Status: {{ booking_status }} Starts: {{ dateFormat start }} </li> {{/_embedded}}</ul>
    </li>
{{/_embedded}}
</ul>
