<input type="text" placeholder="Courses search" name="q" id="coursesSearch">
<span class="deleteicon ss-icon">delete</span>

<!-- TODO: what is the behaviour when user is not logged in? -->
<a href='#/courses/bookings'>View my bookings</a>

<ul class="results-list">
{{#subjects}}
	<a href='#/courses/course_subject:"{{ name }}"'><li>{{ name }}</li></a>
{{/subjects}}
</ul>