
<div class="card">
	<h3>Feedback</h3>

	<p>We're a small team based at IT Services as part of Oxford University and we're always interested in hearing what you think and what you'd like to see in Mobile Oxford.</p>

	{{#if thanks}}
	        <p><strong>Thank you for your feedback!</strong></p>
	{{/if}}

	<div id="feedback-form">
	    <div class="feedback-input">
	        <label for="input-email">Your email (optional):</label>
	        <input id="input-email" type="text" name="email" />

	        <label for="input-message">Your feedback:</label>
	        <textarea id="input-message" type="text" name="message" rows="8" />

	        <input class="action-button submit" type="submit" value="Submit" id="submit-feedback" />
	    </div>
	</div>
</div>