
<div class="card">
	<h3>Feedback and Support</h3>
		<div class="padded-contents">
		{{#if thanks}}
	        <p><strong>Thank you for your feedback!</strong></p>
		{{else}}
			<p>
				Mobile Oxford is maintained and supported by IT Services at the University of Oxford.
			</p>
			<p>
				If you need help or have any suggestions, please drop us a line through this form.
			</p>
		{{/if}}

		<div id="feedback-form">
		    <div class="feedback-input">
		        <label for="input-email">Your email (optional):</label>
		        <input id="input-email" type="email" name="email" placeholder="e.g. example@example.com"/>

		        <label for="input-message">Your message:</label>
		        <textarea id="input-message" type="text" name="message" rows="8" />

		        <input class="action-button submit" type="submit" value="Send feedback!" id="submit-feedback" />
		    </div>
		</div>
	</div>
</div>
