<h3>Feedback</h3>

<div id="feedback-form">
    <div class="feedback-input">
        <label for="input-email">Email (not mandatory):</label>
        <input id="input-email" type="text" name="email">

        <label for="input-message">Your feedback:</label>
        <input id="input-message" type="text" name="message">

        <input class="action-button submit" type="submit" value="Submit" id="submit-feedback" />
    </div>
</div>
