<h2>{{ entry.title }}</h2>
<span>{{ dateFormat entry.publishedDate }}</span>
<div class="entry-content">
    {{{ entry.content }}}
</div>
<p>
    <a target="_blank" href="{{ entry.link }}">Read the full article.</a>
</p>
