<div id="contacts-search-form">
    <div class="search-input">
        <label for="input-query">Search</label>
        <input id="input-query" placeholder="e.g. Joe Bloggs" type="text" name="title" value="{{q}}">

        <input class="action-button search" type="submit" value="Email" id="submit-search-email"></input>
        <input class="action-button search" type="submit" value="Phone" id="submit-search-phone"></input>
    </div>
</div>

<div id="loading">
    <img src="images/preloader.gif" class="preloader">
</div>

<ul id="search-results" class="results-list">

</ul>
