<div id="contacts-search-form">
    <div class="search-input">
        <label for="input-query">Search</label>
        <input id="input-query" placeholder="e.g. Joe Bloggs" type="text" name="title" value="{{q}}">

        <input class="action-button search" type="submit" value="Email" id="submit-search-email"></input>
        <input class="action-button search" type="submit" value="Phone" id="submit-search-phone"></input>
    </div>
</div>

<div id="loading">
    <img src="images/preloader.gif" class="preloader">
</div>

<ul id="search-results" class="results-list">

</ul>

<div id="main-contacts">
    <h2>University contacts</h2>

    <ul id="university-contacts" class="results-list">
        <li>
            <h3>General enquiries</h3>
            <a href="tel:+441865270000">01865 (2)70000</a>
        </li>
        <li>
            <h3>Switchboard</h3>
            <a href="tel:+441865280000">01865 (2)80000</a>
        </li>
        <li>
            <h3>IT Services Help desk</h3>
            <a href="tel:+441865273200">01865 (2)73200</a>
        </li>
    </ul>

    <h2>Emergency contacts</h2>

    <ul id="emergency-contacts" class="results-list">
        <li>
            <h3>Emergency services</h3>
            <a href="tel:112">112</a>
        </li>
        <li>
            <h3>University security (emergency)</h3>
            <a href="tel:+441865289999">01865 (2)89999</a>
        </li>
        <li>
            <h3>University security (enquiries)</h3>
            <a href="tel:+441865272944">01865 (2)72944</a>
        </li>
        <li>
            <h3>Thames Valley Police (non-emergency)</h3>
            <a href="tel:101">101</a>
        </li>
    </ul>

    <h2>Health and welfare</h2>

    <ul id="health-contacts" class="results-list">
        <li>
            <h3>NHS Direct</h3>
            <a href="tel:+448454647">0845 46 47</a>
        </li>
        <li>
            <h3>University Counselling Service</h3>
            <a href="tel:+441865270300">01865 (2)70300</a>
        </li>
        <li>
            <h3>Oxford Nightline</h3>
            <a href="tel:+441865270270">01865 (2)70270</a>
        </li>
        <li>
            <h3>Rape Crisis</h3>
            <a href="tel:+441865726295">01865 726295</a>
        </li>
        <li>
            <h3>Samaritans</h3>
            <a href="tel:+448457909090">08457 90 90 90</a>
        </li>
    </ul>
</div>