<div id="map"></div>
<div id="list-bar">
    <h5>{{ poi.attributes.name }}</h5>
    <ul>
        <li>
            {{ poi.attributes.phone }}
        </li>
        <li>
            {{ poi.attributes.website }}
        </li>
        <li>
            {{ poi.attributes.address }}
        </li>
    </ul>
</div>
