<div class="content-detail" id="map"></div>
<div id="list">
    <input type="text" placeholder="Places search" name="q">
    <span class="deleteicon ss-icon">delete</span>
    <h2>Results near <span >here</span></h2>
    <ul class="results-list">
    </ul>
</div>
