<h3>What's on today</h3>
{{#if eventsToday}}
<ul class="results-list" id="today"></ul>
{{else}}
<p>No events today!</p>
{{/if}}

<h3>This week</h3>
{{#if eventsWeek}}
<ul class="results-list" id="week"></ul>
{{else}}
<p>No events later this week!</p>
{{/if}}