{{! NOTE: Take careful care with the namespacing in here, it's a bit of a mess. }}

<div class="search-input">
    <input type="text" id="input_search" placeholder="Search places..." name="q">
    <span class="deleteicon ss-delete"></span>
</div>

<h2 class="free-heading" id="category_title">Places</h2>

<img src="images/preloader.gif" class="preloader">

<ul class="results-list" id="categories"></ul>
