{{#if services}}
<img src="images/preloader.gif" id="rti-load" class="preloader" width="15" height="15">
{{#with services}}
<div id="gauge"></div>

<script>
  var g = new JustGage({
    id: "gauge",
    value: {{ percentage }},
    min: 0,
    max: 100,
    title: "Real-time availability",
    label: "{{ spaces }} available",
    symbol: "%",
    hideValue: true,
    counter: false,
  });
</script>
{{/with}}
{{/if}}