<div class="search-input">
    <input type="text" placeholder="Places search" name="q" value="{{query.q}}">
    <span class="deleteicon ss-delete"></span>
</div>
<ul class="facet-list">
    {{#facets}}
        <li class="label-facet" data-category="{{ name }}">{{ title }}</li>
    {{/facets}}
</ul>
<ul class="results-list">
</ul>
