<div class="search-input">
    <input type="text" placeholder="Places search" name="q" value="{{query}}">
    <span class="deleteicon ss-delete"></span>
</div>
<ul class="facet-list">
</ul>
<ul class="results-list">
</ul>
