<h2>Favourites</h2>
{{#if favourites}}
<ul class="results-list">
    {{#favourites}}
    <a href="#{{path}}">
        <li>
            {{title}}
        </li>
    </a>
    {{/favourites}}
</ul>
{{else}}
    <p>You do not have any favourites just yet.</p>
{{/if}}
