<div class="btn-toggle-browse ss-standard"></div>
<div class="btn-toggle-location ss-standard ss-navigate"></div>
<div class="content-main">
    <div class="content-map"></div>
    <div class="content-detail"></div>
</div>
<div class="content-browse"></div>
