.meta-action-button {
	@include border-radius(5px);
	@include background(linear-gradient(#fafafa, #dfdfdf));
	@include box-shadow(0 0 1px rgba(0,0,0,0.4));

	border: 1px solid rgba(0,0,0,0.2);
	padding: 9px 10px 10px 10px;
	display: inline-block;
	color: #333;
	font-weight: 500;
	margin: 5px 5px 5px 0;
}

// Add telephone or globe icons on the left of each button
.tel:before {
	@include symbolset();
	padding-right: 8px;
	content: "📞";
}

.web:before {
	@include symbolset();
	padding-right: 8px;
	content: "🌎";
}

.email:before {
	@include symbolset();
	padding-right: 8px;
	content: "✉";
}