@font-face {
	font-family: 'Share';
	src: url('../../webfonts/share/Share-Regular.eot');
	src: local('☺'), url('../../webfonts/share/Share-Regular.woff') format('woff'), url('../../webfonts/share/Share-Regular.ttf') format('truetype'), url('../../webfonts/share/Share-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
