// Component for help boxes built from the Today view cards
@import "globals/oxford-palette";

.help-card-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.today.help {
    @include border-radius(5px);
    padding: 15px;
    background-color: $pantone549;
    color: #fff;
    font-size: 1.3em;
    .app-badge {
        margin-right: 12px;
    }
    .app-badge:last-child {
        margin-right: 0;
    }
    p {
        line-height: 1.5em;
        margin-bottom: 0.5em;
    }
}
