@mixin label($color, $font-size: ms(-1)) {
    color: #fff;
    display: inline-block;
    background-color:($color);
    @include border-radius(8px);
    font-size: $font-size !important;
    padding: 2px 4px 1px 4px;
    font-weight: 600;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    @include box-shadow(0 0 1px darken($success-green, 10%))
}

$fail-red: #B94A48;
$success-green: #468847;
.label-place-open {
    @include label($success-green);

}

.label-place-closed {
    @include label($fail-red);
}

.label-facet {
    @include label(rgb(43, 166, 203), ms(0));
    margin-top: 5px;
}
