@import "components/labels";
@import "globals/mixins";

// Labels for the different states of library book availability
.library-unavailable {
	@include label($fail-red, ms(0));
}

.library-unknown {
	@include label($unknown-grey, ms(0));
}

.library-stack {
	@include label($stack-yellow, ms(0));
}

.library-reference {
	@include label($reference-blue, ms(0));
}

.library-available {
	@include label($success-green, ms(0));
}

.library-shelfmark {
    margin-left: 12px;
}

.library-name {
    font-size: 1.3em;
}

#search-results.results-list .book-title {
    font-size: 1.3em;
}

// Styling for detail DLs
.library-holdings {
    .library-location {
        font-variant: normal;
        border-top: 1px solid #eee;
        padding: 5px;
    }
    .library-location.highlighted {
        @include box-shadow(inset 0px 4px 10px -5px #ccc, inset 0px -4px 10px -5px #ccc);
    }
}


#library-search-form {
	@include free-text();
}
