@import "globals/variables";
@import "globals/oxford-palette";

/* Content is a container for two child divs
    .content-browse which typically contains a scrolling list container
    .content-map which holds map (#map)
*/
#content {
    position: absolute;
    top: $navbarHeight;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    // border-left: $grayBorder;
    // border-right: $grayBorder;

    .content-browse {
        right: auto;
        overflow-y: scroll;
        padding: 0px 0px;
        height: 100%;
        background: $body-background;
        -webkit-overflow-scrolling: touch;
        border-right: 1px solid #bbb;
    }

    .map-browse-layout {
        height: 100%;
        .content-detail {
            display: none;
        }
    }

    .btn-toggle-browse {
        &:before{content:'▻'}
        background: $pantone282;
        color: $body-background;
        display: inline-block;
        z-index: 10001;
        position: absolute;
        left: 0px;
        top: $mapHeight - 40px;
        width: 30px;
        height: 40px;
        line-height: 45px;
        text-align: center;
        font-size: 1.6em;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 1px 0px 4px #444;
    }

    .btn-toggle-location {
        display: none;
    }

    .map-browse-layout {
        &.with-browse {
            .btn-toggle-browse:before{content:'◅'}
            .content-browse, .btn-toggle-location, .btn-toggle-browse {
                left: 30%;
                @media #{$smartphone} {
                    left: 85%;
                }
            }
            .content-main {
                width: 70%;
                @media #{$smartphone} {
                    width: 15%;
                }
            }
        }
        &.with-detail {
            .btn-toggle-location {
                bottom: 40%;
                @media #{$smartphone} {
                    top: $mapHeight - 30px;
                    bottom: auto;
                }
            }
            .content-map {
                height: 60%;
                @media #{$smartphone} {
                    float: none;
                    width: 100%;
                    height: $mapHeight;
                }
            }
            .content-detail {
                display: block;
                height: 40%;
                overflow-y: scroll;
                @media #{$smartphone} {
                    height: auto;
                }
            }
        }
    }

    .content-map {
        height: 100%;
    }

    .content-main {
        float: right;
        padding: 0px 0px;
        width: 100%;
        height: 100%;
    }
    #map {
        width: 100% !important;
        height: 100%;
        @media #{$smartphone} {
            .leaflet-control-zoom {
                display: none;
            }
        }
    }
    .search-input {
        position: relative;
        margin-right: 5px;
        margin-left: 5px;
        padding-top: 10px;

        span.deleteicon {
            @include border-radius(30px);
            position: absolute;
            top: 15px;
            right: 15px;
            display: block;
            padding: 4px 4px 2px 4px;
            background: #ccc;
            color: #fff;
            font-size: 9px;
            line-height: 9px;
            cursor: pointer;
        }
    }
}

.list-map, .detail-map, .generic {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    ul.facet-list {
        padding-left: 5px;
    }
    > h3 {
        padding-left: 5px;
    }
}
