// Navbar
// Make the navbar sexy.
#navbar, #content {
    position: absolute;
    left: 0; right: 0;
    @include respondTo(smallScreen) {
        width: auto; min-width: 0; margin-left: 0; margin-right: 0;
        border: 0;
    }
}

#navbar {
    position: fixed;
    margin: 0 auto;
    top: 0px;
    // TODO: Pick a good value for this
    z-index: 51;
    height: $navbarHeight;
    line-height: $navbarHeight - 1px;
    color: $white;
    list-style: none;
    background: $navbarLight; // Basic background for old devices
    @include background(
    // Highlighting radial gradient.
    // Light top, dark bottom
    radial-gradient(center, ellipse cover, rgba(0,0,0,0), rgba(0,0,0,0.1)),
    linear-gradient(top, $navbarDark, $navbarLight)
    );
    body.is-sidebar-active & {
        left: $sidebar-width;
        right: auto;
        width: 100%;
    }

    > li {
        // Most of the elements are on the right, so default to floating them right
        float: right;
        // Set width of each button and center align it
        width: $navbarItemWidth;
        text-align: center;

        // 3d effect by having a dark and light border on each item
        border-left: $navbarBorderDark;

        a {
            border-left: $navbarBorderLight;
            display: block;
            color: $white;
            // Feedback for hover/clicked
            &:active, &:hover {@include box-shadow(0 0 $navbarItemWidth/2 $black inset);}
            // If the button has been pressed, distinguish between press and hover
            &:active {background: rgba(0,0,0,0.4);}
            &.favourited {
                color: $pantone129;
            }
        }

        // Left hand button should not have the brighter border
        &:first-child a { border-left: 0;}

        &#home, &#back {
            float: left;
            border: 0;
            border-right: $navbarBorderLight;
            a { border-right: $navbarBorderDark; }
        }
        &#title {
            float: left;
            width: auto;
            border: 0;
            h1 {
                color: $white;
                // Set line-height to navbarHeight to give vertical alignment
                line-height: $navbarHeight;
                font-size: ms(0);
                // Left spacing equivalent to font-size.
                margin: auto 0 auto ms(0);
                // Pull the text up slightly to align with buttons
                margin-top: -2px;
            }
        }
    }
}