@import "globals/variables";

// RTI enclosing div
// used to provide a base style
div.rti {
        position: relative;
        //@include hidpi {background: url($subtle-dots-hidpi);}
        padding: 10px 0;
        border-top: 1px solid rgba(255,255,255,0.9);
        border-bottom: 1px solid rgba(255,255,255,0.9);
        //@include box-shadow(inset 0 0 8px #ddd);
        p {
            padding: 0 4px;
        }
        h3 {
            font-size: 1.2em;
            margin-top: 5px;
        }
        #gauge {
            width: 380px;
            height: 155px;
        }
        #rti-load {
            position: absolute;
            right: 10px;
            top: 10px;
        }
}

// Train RTI styling
table#train-rti {
    width: 100%;
    .delayed {
        color: $pantone200;
    }
    td {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 5px;
      padding-left: 10px;
      border: 1px solid #ddd;
      background-color: #fff;
    }

    td:first-child {
      padding-right: 0;
    }
}

// Bus RTI styling
table#bus-rti {
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    tbody {
        vertical-align: middle;
    }
    tr > td {
        padding: 6px 8px;
    }

    .service-id {
        display: block;
        line-height: 44px;
        font-size: 1.4em;
        width: 50px;
        height: 50px;
        text-align: center;
        color: #fff;

        //text-shadow: 0 0 1px rgba(255,255,255, 0.5);
        font-weight: 500;
        @include border-radius(50%);
        border: 3px solid transparentize($pantoneWarmGray6, 0.3);
        background: transparentize($pantoneWarmGray6, 0.3);
        //@include background(radial-gradient($darkOxfordBlue, $lightOxfordBlue));
    }

    .service-destination {
        font-weight: 200;
        font-size: 1.4em;
        padding-top: 12px;
        padding-bottom: 0;
    }

    .service-next-bus {
        padding-top: 12px;
        padding-bottom: 0;
    }

    .service-next-buses-following {
        font-size: 16px;
        line-height: 14px;
        padding-top: 0;
    }
}

// RTI last-updated messages
// We style these identically within today cards
// and within in the POI RTI blocks on places detail
.today .last-updated, #poi-rti .last-updated {
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 11px;
}

