@import "globals/variables";
@import "hidpi";

// Sidebar
// This relates to how the sidebar operates
// This requires #navbar to be position: relative;, but a bug causes this to fail
// when animations are included.

// NOTE: we set a min-height so the sidebar background is visible even when
//       scrolling on devices with a small resolution.
// NOTE: Adding new elements to the sidebar means this min-height should be increased
$sidebar-min-height: 620px;

#main, #sidebar {
    position: relative;
    @if $animations-enabled == true {
        @include transition($sidebar-animation-time all ease-out);
    }
}

#main {
    width: 100%;
    height: 100%;
    margin-left: 0;
    float: right;
    z-index: 1;
    html.is-sidebar-active > body & {
        position: fixed;
        left: $sidebar-width;
        @media #{$smartphone} {
            left: $sidebar-smartphone-width;
        }
    }
}

#sidebar {
    display: none;
    top: 0px;
    width: $sidebar-width;
    height: 100%;
    background: #2a2a2a;
    @media #{$smartphone} {
        width: $sidebar-smartphone-width;
    }
    margin-left: -100%;
    float: left;
    z-index: 3;
    border-right: 1px solid #444;
    min-height: $sidebar-min-height;
    @include box-shadow(0 0 5px #000);
    html.is-sidebar-active > body & {
        display: inline;
        margin-left: 0;
    }
}

/**
 Used to draw a semi-transparent overlay over the content of the page to
 highlight the sidebar
 */
.overlay {
    display: none;
    @if $animations-enabled == true {
        opacity: 0;
        width: 100%;
        @include transition($sidebar-animation-time all ease-out);
    }
    html.is-sidebar-active > body & {
        display: inline;
        position: fixed;
        top: 0px;
        width: 100%;
        left: $sidebar-width;
        @media #{$smartphone} {
            left: $sidebar-smartphone-width;
        }
        height: 100%;
        opacity: 0.5;
        background-color: #000;
        z-index: 2;
        @if $animations-enabled == true {
            width: 100%;
            opacity: 0.5;
        }
    }
}

ul.sidebar-items {
    list-style: none;
    > a {
        &:first-child li {
            border-top: 0;
        }
        li {
            padding: 10px 5px;
            border-top: 1px solid #666;
            border-bottom: 1px solid #222;
            //border-left: 10px solid $darkOxfordBlue;
            padding-left: 15px;
            color: #eaeaea;
            font-weight: 300;
            font-size: emCalc(18);
            background: #333;
            @include text-shadow(0px -1px 0px #000);
            @include gentle-inset-highlight-on-state();
        }
    }
    &.sidebar-tools {
        li {
            color: #ccc;
            background: #252525;
            &:before {
                // For icon
                margin-right: 7px;
                font-size: 13px;
            }
            border-bottom: 1px solid #111;
        }
        > a:first-child li {
            border-top: 1px solid #555;
        }
    }
}

