// Today
// Items specific to the today page
div.today {
    text-align: left;
    display: inline-block;
    position: relative;
    vertical-align: top;
    // This width and min-width combination work with css columns
    // Meaning Today cards expand to fill 96% of each column, but as
    // soon as an additional card fits, the columns expand.
    //
    //
    // it's properly mental.
    width: 300px;
    min-width: 96%;
    margin-top: 10px;
    @include border-radius(2px);
    border: 1px solid #ccc;
    h3 {
        font-size: 15px;
        padding-bottom: 5px;
        padding-left: 5px;
        .disclaimer {
            font-size: 14px;
        }
    }
    div.five-day-forecast div {
        display: inline-block;
        padding-left: 5px;
        margin-top: 5px;
        font-size: 1.5em;
        width: 27px;
        span.day-of-week {
            font-size: 0.8em;
            font-variant: small-caps;
        }
    }
    div.five-day-forecast div:last-child {
        margin: 0;
    }

    /* River status */
    .rowing-conditions-info {
        color: #777;
        margin-left: 5px;
        font-size: 12px;
        line-height: 13px;
        float: left;
        display: inline-block;
    }

    ul.rivers {
        list-style: none;
    }
    li.river-status {
        float: left;
        margin: 10px;
        font-size: 0.9em;
        font-weight: 300;
        text-align: center;
        // Information on the colours:
        // https://github.com/ox-it/moxie-river-status/blob/master/docs/source/http_api.rst
        .green { color: green; }
        .blue { color: blue; }
        .yellow { color: yellow; }
        .red { color: red; }
        .grey { color: #aaa; }
        .black { color: #000; }
        .ss-flag {
            text-align: right;
        }
    }
    div.day {
        float: left;
        padding: 15px;
        font-size: 1.5em;
        font-weight: 300;
        font-variant: small-caps;
        @include background(linear-gradient(top, #fafafa, #fbfbfb));
        border-right: 1px solid #ccc;
    }
    div.date {
        float: left;
        padding-left: 10px;
        // Date contains term-date and standard-date one atop the other.
        > div {
            font-size: 1em;
            font-weight: 300;
            text-align: center;
        }
        div.term-date {
            padding-top: 5px;

        }

        div.standard-date {
            border-bottom: 1px solid $border-color;
            padding-bottom: 5px;
            padding-top: 3px;
        }
    }
    div.park-and-rides {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        div.p-r {
            display: inline-block;
        }
    }
    &.webcam img {
        border-top: 1px solid #bbb;
    }

    &.weather {
        height: 51px;
        overflow: hidden;
    }

    // Notifications
    &.notifications-list {
        border: none;
        .notification-box {
            @include background(linear-gradient(top, #fafafa, #fbfbfb));
            p.notification-message {
                margin: 0px;
                font-weight: 700;
                color: #222;
                font-size: 1.1em;
                line-height: 1.3em;
            }
            p.more-info {
                margin: 0px;
                font-size: 0.9em;
            }
            padding: 15px;
            margin-bottom: 10px;
            border: 2px solid $pantone200;
        }
        .notification-box:last-child {
            margin-bottom: 0px;
        }
    }
}


// Today view settings
.today-settings {
    p { margin: 5px 0px; }
}

