<div id="cover" class="learning-resources">
	<h2>Learning Resources</h2>
</div>

<div class="card-container">
    <div class="card">
        <h3>University Resources</h3>
        <ul class="results-list">
        <li><a href="https://weblearn.ox.ac.uk" target="_blank" title="WebLearn">WebLearn <i class="fa fa-external-link"></i><span class="subtext">University of Oxford's VLE (requires login)</span></a></li>
        <li><a href="https://old.m.ox.ac.uk/weblearn/" target="_blank" title="Mobile WebLearn">Mobile WebLearn <i class="fa fa-external-link"></i><span class="subtext">Polls, Announcements and Sign-up (requires login)</span></a></li>
        <li><a href="http://courses.it.ox.ac.uk" target="_blank" title="IT Learning Programme Courses">IT Learning Programme Courses <i class="fa fa-external-link"></i><span class="subtext">IT training courses</span></a></li>
        </ul>
    </div>
    <div class="card">
        <h3>Public Resources</h3>
        <ul class="results-list">
        <li><a href="http://podcasts.ox.ac.uk/" target="_blank" title="Podcasts">Podcasts <i class="fa fa-external-link"></i><span class="subtext">Lectures, teaching, and interviews</span></a></li>
        <li><a href="http://portfolio.it.ox.ac.uk/" target="_blank" title="IT Learning Programme Portfolio">IT Learning Programme Portfolio <i class="fa fa-external-link"></i><span class="subtext">Learning resources from the IT Learning Programme</span></a></li>
        </ul>
    </div>
</div>
