<div id="cover" class="learning-resources">
	<h2>Learning Resources</h2>
</div>

<div class="card-container">
    <div class="card">
        <ul class="results-list">
        <li><a href="" title="WebLearn">WebLearn <i class="fa fa-external-link"></i><span class="subtext">University of Oxford's VLE (requires login)</span></a></li>
        <li><a href="" title="WebLearn Polls">WebLearn Polls <i class="fa fa-external-link"></i><span class="subtext">A simple tool for surveys (requires login)</span></a></li>
        <li><a href="" title="Podcasts">Podcasts <i class="fa fa-external-link"></i><span class="subtext">Lectures, teaching and interviews</span></a></li>
        <li><a href="" title="IT Learning Programme">IT Learning Programme <i class="fa fa-external-link"></i><span class="subtext">IT training courses</span></a></li>
        </ul>
    </div>
</div>
