$body-background: #fafafa;

$grayBorder: 1px solid #ccc;

$cream-dust: "/images/backgrounds/cream_dust.png";
$cream-dust-hidpi: "/images/backgrounds/cream_dust_@2X.png";

$darkOxfordBlue: #1B4474;
$lightOxfordBlue: #002856;