<div class="card-container">
	<div class="card">
		<h3>Privacy Policy</h3>
		<div class="padded-contents">
			<p>
				The Mobile Oxford app does not collect personal information. We do use Google Analytics to collect general anonymous information about which screens are used most frequently so that we can improve user experience in the future.
			</p>
		</div>
	</div>
	<div class="card">
		<h3>Android Permissions</h3>
		<div class="padded-content">
			<p>
				Mobile Oxford requests permissions to read your address book and add/edit your contacts. This is for the Contact Search feature which allows users to write University contacts directly to their personal phonebook. We do not read from your contacts at any point and only use this to add new contacts.
			</p>

			<p>
				Android also has a small quirk where requesting access to READ_CONTACTS automatically adds permissions for "read call log" and "write call log". Mobile Oxford does not access either of these functions.
			</p>
		</div>
	</div>
</div>
