<h2>Accommodation</h2>

<p>If you are in college accommodation, or living out in private rented. Please remember these few simple tips.</p>

<ul>
    <li>Don’t leave any laptops or mobile phones in view of open windows, it takes seconds to reach in from the street to take your laptop.</li>
    <li>Register it on <a href="http://prey.com" target="_blank">Prey.com</a> (free tracking app)</li>
    <li>Question people trying to get into a house or a college hall, tailgating is a frequent event in Universities</li>
    <li>If living out in private accommodation, don’t always assume that people are friends of friends – they could be opportunists waiting to get into a student house to take laptops, money, phones.</li>
    <li>Back up any work that is on your lap top , keep the device stored somewhere safe.</li>
    <li>Register any small electrical items such as, phones, laptops I pads on  <a href="http://www.imobalise.com" target="_blank">www.imobalise.com</a></li>
</ul>
