<h2>What to do if you think that you are being followed</h2>

<ul>
    <li>Keep looking behind you , so the person knows that you cannot be surprised</li>
    <li>Cross the street and /or change direction</li>
    <li>If you are on the University estate call security Services on emergency number <a href="tel:+441865289999">01865 289999</a></li>
</ul>

<p>Walk with confidence, don’t look down at the ground, most opportunist offenders will pick on someone that looks vulnerable and not someone who is confident.</p>
