<h2>Cycle theft</h2>

<p>Unfortunately Cycle crime does happen around the University estate, follow these few simple tips to help keep your cycle safe</p>

<ul>
    <li>Always use a D Lock, that is Sold Secured, as it has been tested to security standards</li>
    <li>Lock it to Cycle hoops that have been provided or in a secure cycle storage area.</li>
    <li>Remove any lights, use locking wheel nuts, remove the saddle if portable</li>
    <li>Register your bike for free on <a href="http://bikeregister.com" target="_blank">Bikeregister.com</a></li>
    <li>Ask us about marking your bike with a unique code ensures that Police will be able to trace your bike back to you if it is stolen and recovered on <a href="tel:+441865272944">01865 272944</a></li>
    <li>Don’t buy an expensive bike just to ride to University</li>
</ul>
