<div id="cover" class="security">
	<h2>Safety and Security</h2>
</div>


<div class="card">
	<h3>Contact</h3>
	<ul class="results-list">
		<li><a href="tel:112" title="Emergency Services (same as 999)" class="ss-standard ss-phone">Emergency <span class="subtext">112</span></a></li>
		<li><a href="tel:+441865289999" title="University security (emergency)" class="ss-standard ss-phone">University emergency <span class="subtext">01865 (2)89999</span></a></li>
		<li><a href="tel:+441865272944" title="University security (non-emergency)" class="ss-standard ss-phone">University non-emergency<span class="subtext">01865 (2)72944</span></a></li>
		<li><a href="tel:101" title="Local police (non-emergency)" class="ss-standard ss-phone">Police (non-emergency)<span class="subtext">101</span></a></li>
	</ul>
</div>


<ul>
    <li><a href="#/security/personal-safety">Personal safety</a></li>
    <li><a href="#/security/cycle-theft">Cycle theft</a></li>
    <li><a href="#/security/out-about">Out &amp; about</a></li>
    <li><a href="#/security/being-followed">Being followed</a></li>
    <li><a href="#/security/accommodation">Accommodation</a></li>
</ul>
