<h2>Out & About</h2>

<ul>
    <li>Never carry passports or large sums of money with you</li>
    <li>If you want to wear headphones please only wear one as, this takes away your sense of hearing</li>
    <li>Always try to stay in a group if out at night</li>
    <li>If you do walk home don’t take short cuts, stay where it is lit and plenty of people or cars pass you by.</li>
    <li>If someone grabs your bag lets them have it as , it is better to lose a bag than get injured</li>
</ul>