<h2>Personal safety</h2>

<p>Personal Safety Tips – the following information helps you think about your own personal situation and to take responsibility for you safety in your surroundings</p>

<ul>
    <li>Report Incidents of Suspicious packages or people, or want to inform us about something security related</li>
    <li>Report it to Security services on <a href="tel:+441865272944">01865 272944</a></li>
    <li>If you are witnessing a crime taking place around the University call us on <a href="tel:+441865289999">01865 289999</a> or call 999</li>
    <li>Never leave valuable items of property unsecured or unattended</li>
    <li>Never let people know passwords to your Computers</li>
    <li>Don’t divulge your pin numbers to friends</li>
    <li>Please don’t wedge doors open that are locked or require swipe access</li>
</ul>
