<input type="text" placeholder="Courses search" name="q">
<span class="deleteicon ss-icon">delete</span>

{{#subjects}}
	<li><a href='#/courses/course_subject:"{{ name }}"'>{{ name }}</a></li>
{{/subjects}}
