<div id="cover" class="student-advice">
	<h2>Student Advice Service</h2>
</div>

<div class="card-container">
    <div class="card">
        <h3>Where to find us</h3>
        <div class="padded-contents">
            <p class="metadata">2 Worcester Street, Oxford OX1 2BX</p>
        </div>
        <div class="metadata-buttons">
            <a class="action-button" href="http://ousu.org/advice/student-advice-service/" target="_blank"><i class="fa fa-external-link"></i> Website</a>
        </div>
    </div>
    <div class="card">
        <h3>How to contact us</h3>
        <div class="padded-contents">
            <p>You can arrange an individual appointment to speak with an advisor by contacting us on the phone number or e-mail address below.</p>
        </div>
        <div class="metadata-buttons">
            <a class="action-button" href="tel:01865288466"><i class="fa fa-phone"></i> 01865 288466</a>
            <a class="action-button" href="mailto:advice@ousu.org"><i class="fa fa-envelope"></i> advice@ousu.org</a>
        </div>
    </div>
    <div class="card">
        <h3>When we are open</h3>
        <div class="padded-contents">
        <p>Advisors can be contacted Monday-Friday between 10am-5pm.</p>
        <p>We also offer a weekly term time Drop-In session where no appointment is necessary. Drop in to speak with an advisor on Fridays between 12-2pm. </p>
        </div>
    </div>
    <div class="card">
        <h3>Follow us</h3>
        <div class="padded-contents">
            <p>For updated advice and information follow us on</p>
        </div>
        <div class="metadata-buttons">
            <a class="action-button" href="https://twitter.com/OUSUnews" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
            <a class="action-button" href="https://facebook.com/OUSUnews" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
        </div>
    </div>
    <div class="card">
        <h3>Who we are</h3>
        <div class="padded-contents">
            <p>The Student Advice Service is part of the Oxford University Student Union. The Service is staffed by two part time qualified and experienced permanent Advisors.</p>
            <h4>Lisa Stokes-King</h4>
            <p>Lisa is a part time permanent Student Advisor and has been working for the Service since 2009. She has been an Oxford undergraduate, a graduate, an international student and a mature student. She also has related experience of being a parent while studying.</p>
            <h4>Cate Hemingway</h4>
            <p>Cate is a part time permanent Student Advisor who studied at Cambridge and Oxford. Cate has experience working as an assistant junior dean and MCR President at both Oxford and Cambridge. Cate is a qualified and registered social worker and psychologist.</p>
        </div>
    </div>
    <div class="card">
        <h3>Better Lives</h3>
        <div class="padded-contents">
            <p>The Student Advice Service is a FREE, safe, and confidential advice and information service available to all Oxford University students. We are independent from the Colleges and the University, and we are here to give support to students that are facing difficult situations.</p>
            <p>Advisors have experience dealing with the following areas:</p>
            <ul>
                <li>Accommodation</li>
                <li>Academic Appeals</li>
                <li>Bullying and Harassment</li>
                <li>College Discipline</li>
                <li>Disability</li>
                <li>Finance</li>
                <li>Graduate issues (transfer status and supervisor issues)</li>
                <li>Health and Mental Health</li>
                <li>Student Parenting</li>
                <li>Sexual Health</li>
                <li>General Welfare</li>
            </ul>
            <p>However, advisors are happy to find the answer to any query you might have, however trivial it might seem.</p>
        </div>
    </div>
    <div class="card">
        <h3>Bigger Picture</h3>
        <div class="padded-contents">
            <p>The Student Advice Service is committed to improving the experience of all students at Oxford. We use the insight gained from helping students to develop the support services we offer, direct OUSU’s future campaigning efforts and make changes for the better.</p>
        </div>
    </div>
    <div class="card">
        <h3>Look at our website for advice on</h3>
        <div class="padded-contents">
            <a href="http://ousu.org/advice/student-advice-service/" target="_blank">Student Advice Service</a>
            <ul>
                <li>Exam Advice</li>
                <ul>
                    <li>Alternative arrangements</li>
                    <li>Results and Appeals</li>
                </ul>
                <li>Study Skills</li>
                <ul>
                    <li>Best study Apps</li>
                    <li>Revision Tips</li>
                </ul>
                <li>Finals Forum</li>
                <li>Living Out</li>
                <li>Transport</li>
                <ul>
                    <li>Oyster Cards</li>
                    <li>NUS Discount cared</li>
                    <li>Student Rail card</li>
                    <li>Bike Safety</li>
                </ul>
                <li>Our Workshop Programme</li>
                <ul>
                    <li>Better Relationships</li>
                    <li>LASH (Alcohol Awareness)</li>
                    <li>Sexual Health</li>
                </ul>
            </ul>
        </div>
    </div>
</div>
