<div id="library-search-form">
    <div class="search-input">
        <label for="input-title">Title:</label>
        <input id="input-title" type="text" placeholder="Title" name="title" value="{{title}}">

        <label for="input-author">Author:</label>
        <input id="input-author" type="text" placeholder="Author" name="author" value="{{author}}">

        <label for="input-isbn">ISBN:</label>
        <input id="input-isbn" type="text" placeholder="ISBN" name="isbn" value="{{isbn}}">

        <input type="submit" value="Search" id="submit-search"></input>
    </div>
</div>

<div id="loading">
    <img src="images/preloader.gif" class="preloader">
</div>

<ul class="results-list">

</ul>

<div id="library-info">
    <h2>Library Services Info</h2>
    <ul class="results-list">
        <a href="#places/search?type=%2Funiversity%2Flibrary"><li>List of libraries</li></a>

        <a href="http://www.bodleian.ox.ac.uk/" target="_blank"><li class="web">Bodleian Libraries Home</li></a>
        <a href="http://library.ox.ac.uk/" target="_blank"><li class="web">OLIS (Oxford Library Information System)</li></a>
    </ul>

    <div class="metadata-buttons">
        <a class="meta-action-button email" href="mailto:reader.services@ouls.ox.ac.uk">Email Reader Services</a>
        <a class="meta-action-button tel"href="tel:+441865277162">01865 (2)77162</a>
    </div>
</div>
