<div id="library-search-form">
    <div class="search-input">
        <span for="input-title">Title:</span>
        <input id="input-title" type="text" placeholder="Title" name="title" value="{{title}}">

        <span for="input-author">Author:</span>
        <input id="input-author" type="text" placeholder="Author" name="author" value="{{author}}">

        <span for="input-isbn">ISBN:</span>
        <input id="input-isbn" type="text" placeholder="ISBN" name="isbn" value="{{isbn}}">

        <input type="submit" value="Search" id="submit-search"></input>
    </div>
</div>

<div id="loading">
    <img src="images/preloader.gif" class="preloader">
</div>

<ul class="results-list">

</ul>

<div id="library-info">
    <h2>Library Services Info</h2>
    <ul class="results-list">
        <a href="#places/search?type=%2Funiversity%2Flibrary"><li>List of libraries</li></a>
        <a href="mailto:reader.services@ouls.ox.ac.uk"><li>Mail: reader.services@ouls.ox.ac.uk</li></a>
        <a href="tel:+441865277162"><li>Telephone: 01865 (2)77162</li></a>
        <a href="http://www.bodleian.ox.ac.uk/" target="_blank"><li>Bodleian Libraries</li></a>
        <a href="http://library.ox.ac.uk/" target="_blank"><li>OLIS (Oxford Library Information System)</li></a>
    </ul>
</div>
