<div id="library-search-form">
    <div class="search-library">
        <span for="input-title">Title:</span>
        <input id="input-title" type="text" placeholder="Title" name="title" value="{{title}}">
    </div>
    <div class="search-library">
        <span for="input-author">Author:</span>
        <input id="input-author" type="text" placeholder="Author" name="author" value="{{author}}">
    </div>
    <div class="search-library">
        <span for="input-isbn">ISBN:</span>
        <input id="input-isbn" type="text" placeholder="ISBN" name="isbn" value="{{isbn}}">
    </div>
    <div class="search-library">
        <input type="submit" value="Search" id="submit-search"></input>
    </div>
</div>
<ul class="results-list">
</ul>
