<div id="library-search-form">
    <div class="search-library">
        <input type="text" placeholder="Title" name="title" value="{{title}}">
        <span class="deleteicon ss-icon">delete</span>
    </div>
    <div class="search-library">
        <input type="text" placeholder="Author" name="author" value="{{author}}">
        <span class="deleteicon ss-icon">delete</span>
    </div>
    <div class="search-library">
        <input type="text" placeholder="ISBN" name="isbn" value="{{isbn}}">
        <span class="deleteicon ss-icon">delete</span>
    </div>
</div>
<ul class="results-list">
</ul>
